<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-c-tabs">
                <ul class="nav nav-tabs md-tabs tabs-2 grey darken-1 rounded-pill" role="tablist">
                    <li class="nav-item rounded-pill">
                        <a class="nav-link active text-dark" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
                        S'identifier</a>
                    </li>
                    <li class="nav-item rounded-pill">
                        <a class="nav-link text-dark" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
                        S'enregistrer</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                        <form action="./pages/verify.php" method="POST">
                            <div class="modal-body">
                                <div class="md-form form-sm mb-2">
                                    <i class="fas fa-envelope prefix"></i>
                                    <input required name="email" type="email" id="modalLRInput10" class="form-control form-control-sm validate" 
                                    pattern="[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([_\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})" maxlength="60">
                                    <label data-error="Invalide" data-success="Valide" for="modalLRInput10">Adresse mail</label>
                                </div>
                                <div class="md-form form-sm mb-2">
                                    <i class="fas fa-lock prefix"></i>
                                    <input required name="password" type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                                    <label data-error="Invalide" data-success="Valide" for="modalLRInput11">Mot de passe</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button name="log_in" class="btn btn-amber rounded-pill">Se connecter<i class="fas fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-amber waves-effect ml-auto rounded-pill" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="panel8" role="tabpanel">
                        <form action="./pages/verify.php" method="POST">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="md-form form-sm col-sm-12 col-md-6">
                                        <i class="fas fa-user prefix"></i>
                                        <input name="first_name" required type="text" id="modalLRInput14" class="form-control form-control-sm validate" minlegth="3" maxlength="30"
                                        pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{2,30}$">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput14" class="col-6">Prénom</label>
                                    </div>
                                    <div class="md-form form-sm col-sm-12 col-md-6">
                                        <i class="fas fa-user prefix"></i>
                                        <input name="last_name" required type="text" id="modalLRInput15" class="form-control form-control-sm validate" minlegth="3" maxlength="30"
                                        pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{2,30}$">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput15" class="col-6">Nom</label>
                                    </div>
                                    <div class="md-form form-sm col-sm-12 col-md-6">
                                        <i class="fas fa-envelope prefix"></i>
                                        <input name="email" required type="email" id="modalLRInput12" class="form-control form-control-sm validate"
                                            pattern="[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([_\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})" maxlength="60">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput12" class="col-6">Adresse mail</label>
                                    </div>
                                    <div class="md-form form-sm col-sm-12 col-md-6">
                                        <i class="fas fa-lock prefix"></i>
                                        <input name="password" required type="password" id="modalLRInput13" class="form-control form-control-sm validate" maxlength="30">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput13" class="col-6">Mot de passe</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="md-form form-sm col-sm-12 col-md-4">
                                        <i class="fas fa-phone prefix"></i>
                                        <input name="phone" required type="tel" id="modalLRInput16" class="form-control form-control-sm validate"
                                            pattern="(0|\+33)[1-9]( *[0-9]{2}){4}">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput16" class="col-6">Téléphone</label>
                                    </div>
                                    <div class="md-form form-sm col-sm-12 col-md-8">
                                        <i class="fas fa-map-marker-alt prefix"></i>
                                        <input name="address" required type="text" id="modalLRInput1" class="form-control form-control-sm validate" maxlength="100"
                                        pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{2,100}$">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput1" class="col-6">Adresse</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="md-form form-sm mb-1 col-sm-12 col-md-4">
                                        <i class="fas fa-map-pin prefix"></i>
                                        <input name="zip_code" required type="text" id="modalLRInput2" class="form-control form-control-sm validate"
                                        pattern="^[0-9]{5,5}$">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput2" class="col-6">CP</label>
                                    </div>
                                    <div class="md-form form-sm mb-1 col-sm-12 col-md-8">
                                        <i class="fas fa-city prefix"></i>
                                        <input name="city" required type="text" id="modalLRInput3" class="form-control form-control-sm validate" maxlength="30"
                                        pattern="^[a-zA-Z0-9áàâäãåçéèêëíìîïñóòôöõúùûüýÿæœÁÀÂÄÃÅÇÉÈÊËÍÌÎÏÑÓÒÔÖÕÚÙÛÜÝŸÆŒ._\s-]{2,30}$">
                                        <label data-error="Invalide" data-success="Valide" for="modalLRInput3" class="col-6">Ville</label>
                                    </div>
                                </div>
                                <div class="md-form form-sm mb-4">
                                    <i class="fas fa-flag prefix"></i>
                                    <input name="country" value="France" readonly type="text" id="modalLRInput4" class="form-control form-control-sm">
                                    <label for="modalLRInput4">Pays</label>
                                </div>
                                <div class="text-center form-sm mt-2">
                                    <button name="sign_up" class="btn btn-amber rounded-pill">Soumettre<i class="fas fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-amber waves-effect ml-auto rounded-pill" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <a href="" class="btn btn-amber rounded-pill btn-rounded my-3 text-dark font-weight-bold" data-toggle="modal" data-target="#modalLRForm">S'identifier / S'enregistrer</a>
</div>